.a-delete{
  color: rgb(255, 86, 86);
  transition: .3s all ease;
  cursor: default;
}

.a-delete:hover {
  color: rgb(179, 0, 0);
}

/* .navbar {
  box-shadow: 0px 2px 60px 1px rgba(79, 79, 79, 0.25);
} */

.card-style{
  background-color: white;
  box-shadow: 0px 2px 15px 3px rgba(79, 79, 79, 0.2);
  width:95%;
  border-radius:10px;
  padding-top:15px;
}

.profile-menu-shadow {
  box-shadow: 0 0.15rem 2rem 0 rgb(15 15 20 / 41%) !important;
}

.background{
  /* background-image: url(../img/fondo_web_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: white;
}

.bg-start-class{
  background-color: #ff006a !important;
}